.content{
    width:1000px;
    margin:3px  auto;
    

}
a{
    color: #000;
    text-decoration:none;
}
.content li{
    margin-bottom:20px;
}
.author{

}
.title{
    text-decoration: underline;
}
.journal{
    font-weight:bold;

}
.time{

}